body 
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;    
   padding-top: 0pt;
   background-color: white;
}

header 
{
   background-color: white;
   padding: 10px 0 10px 0;
}

header > img 
{
   width: 230px;
   height: 230px;
   position: relative;    
   top: -30px;
   left: 540px;
}

header ul 
{
   display: inline;
}

header nav 
{
   display: inline;
}

header nav ul li 
{
   display: inline-block;
   padding-right: 20pt;
   padding-left: 20pt;
   padding-top: 4pt;
   padding-bottom: 4pt;
}

header nav ul li a
{
   text-decoration: none;
   font-weight: bold;
   color: black;
   font-size: 16px;
   letter-spacing: 0;
}

header nav 
{
   position: relative;
   top: 1px;
   left: 50px;
   padding-left: 100pt;
   bottom: 5pt;
}

header nav ul li:hover 
{
   background: white;
   border-radius: 6px;
}

.subWomen,
.subMen,
.subKids 
{
    display: none;
}

.subWomen ul 
{
    position: relative;
    right: 35px;
}

.subMen ul 
{
    position: relative;
    right: 50px;
}

.subKids ul 
{
    position: relative;
    right: 50px;
}

.subWomen li 
{
    display: block;
}

.subMen li 
{
    display: block;
}

.subKids li 
{
    display: block;
}

header nav ul li:hover .subWomen 
{
    display: block;
    position: absolute;
    background: white;
    margin-top: 6px;
    margin-left: -15px;
}

header nav ul li:hover .subMen 
{
    display: block;
    position: absolute;
    background: white;
    margin-top: 6px;
    margin-left: -15px;
}

header nav ul li:hover .subKids 
{
    display: block;
    position: absolute;
    background: white;
    margin-top: 6px;
    margin-left: -15px;
}

header nav ul li:hover .subWomen ul 
{
    display: block;
    margin: 10px;
}

header nav ul li:hover .subMen ul 
{
    display: block;
    margin: 10px;
}

header nav ul li:hover .subKids ul 
{
    display: block;
    margin: 10px;
}

header nav ul li:hover .subWomen ul li 
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dashed white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

header nav ul li:hover .subMen ul li 
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dashed white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

header nav ul li:hover .subKids ul li 
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dashed white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

header nav ul li:hover .subWomen ul li a:hover 
{
    color: #f3d007;
}

header nav ul li:hover .subMen ul li a:hover 
{
    color: #f3d007;
}

header nav ul li:hover .subKids ul li a:hover 
{
    color: #f3d007;
}

header nav ul li .active 
{
    color: rgb(241, 241, 120);
}
