<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <title>AuroraFashion</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" type="image/png" href="/css/Pictures/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>@ViewData["Title"] - Aurora Shop</title>

</head>
<body>
    <div class="container-fluid app-container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Aurora Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (!this.User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Don't have an account? Regiser here!</a>
                                </li>
                            }
                            @if (this.User.IsInRole("Admin"))
                            {

                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Products" asp-action="Create">Create Product</a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Orders" asp-action="All">All Orders</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Clothing</a>
                                    <section class="subMen">
                                        <ul>
                                            <li><a asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Coat">Coats</a></li>
                                            <li><a asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Puffer">Puffers</a></li>
                                            <li><a asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jacket">Jackets</a></li>
                                            <li><a asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jeans">Jeans</a></li>
                                            <li><a asp-controller="Home" asp-action="Categorize" asp-route-categoryname="T-shirt">T-shirts</a></li>
                                            <li><a asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Other">Other</a></li>
                                        </ul>
                                    </section>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                </li>

                            }

</div>
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
