<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuroraFashion</title>
    <link rel="icon" type="image/png" href="/css/Pictures/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>@ViewData["Title"] - Aurora Shop</title>

    <style>

        h2, h3, h5, h6, p {
            font-family: 'Big Shoulders Display', cursive;
        }

        header {
            margin-top: 25px;
        }

        h2 {
            display: inline;
            font-weight: normal;
            font-family: 'Big Shoulders Display', cursive;
            font-size: 45px;
            padding-left: 30px;
            position: relative;
            bottom: 15px;
        }

        .login {
            letter-spacing: .15em;
            position: relative;
            bottom: 72px;
            left: 800px;
            width: 50px;
            list-style-type: none;
        }

            .login a {
                text-decoration: none;
            }

        .register {
            display: inline;
            left: 900px;
            position: relative;
            bottom: 90px;
        }

            .register a {
                text-decoration: none;
                letter-spacing: .15em;
            }
    </style>
</head>
<body>
    <div class="container-fluid app-container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h2>AuroraFashion</h2>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            @if (!this.User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item active login">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>

                                <li class="nav-item active register">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Don't have an account? Regiser here!</a>
                                </li>
                            }
                            @if (this.User.IsInRole("Admin"))
                            {

                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Products" asp-action="Create">Create Product</a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Orders" asp-action="All">All Orders</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Clothing</a>
                                    <section class="subMen">
                                        <ul>
                                            <li><a href="#">T-shirts</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sweetshirts</a></li>
                                            <li><a href="#">Costumes</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Underwear</a></li>
                                            <li><a href="#">Shoes</a></li>
                                        </ul>
                                    </section>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                </li>

                            }

</div>
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
