<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/nav.css">
    <title>@ViewData["Title"] - Aurora Shop</title>

</head>
<body>
    <div class="container-fluid app-container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                @*<a class="navbar-brand" asp-controller="Home" asp-action="Index">Aurora Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        
                        
                        @if (this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Products" asp-action="Create">Create Product</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </li>
                        }
                    </ul>

                    <a class="loginA" href="#">Login</a>

                    <section class="loginWindow">
                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        }

                        <a class="nav-link register" asp-area="Identity" asp-page="/Account/Register">
                            Don't have an account? Regiser here!</a>
                    </section>

                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
