<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuroraFashion</title>
    <link rel="icon" type="image/png" href="/css/Pictures/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>@ViewData["Title"] - Aurora Shop</title>

    <style>
        $duration: .20;
        $easing: ease-in-out;
        main {
            position: relative;
            bottom: 150px;
        }

        .Logo {
            font-family: 'Big Shoulders Display', cursive;
        }

        header {
            margin-top: 25px;
        }

        .Logo {
            display: inline;
            font-weight: normal;
            font-size: 45px;
            padding-left: 30px;
            position: relative;
            bottom: 15px;
        }

        .login {
            letter-spacing: .15em;
            position: relative;
            bottom: 72px;
            left: 800px;
            width: 50px;
            list-style-type: none;
        }

            .login a {
                text-decoration: none;
            }

        .home {
            display: inline;
            position: relative;
            left: 300px;
            bottom: 65px;
        }

            .home a {
                text-decoration: none;
                color: black;
                letter-spacing: .15em;
            }



        .register {
            display: inline;
            left: 900px;
            position: relative;
            bottom: 90px;
        }

            .register a {
                text-decoration: none;
                letter-spacing: .15em;
            }

        .create {
            display: inline;
            position: relative;
            left: 860px;
            bottom: 65px;
        }

            .create a {
                text-decoration: none;
                /* list-style: none; */
                /* list-style-type: none; */
                position: relative;
                right: 40px;
                letter-spacing: .15em;
                /* position: relative; */
                /* bottom: 72px; */
                /* left: 800px; */
                width: 50px;
                list-style-type: none;
                text-decoration: none;
                color: black;
            }

        .allOrders {
            display: inline;
            position: relative;
            left: 900px;
            bottom: 65px;
        }

            .allOrders a {
                letter-spacing: .15em;
                position: relative;
                right: 40px;
                width: 50px;
                list-style-type: none;
                text-decoration: none;
                color: black;
            }

        .clothing {
            display: inline;
            position: relative;
            left: 350px;
            bottom: 65px;
        }

            .clothing a {
                letter-spacing: .15em;
                position: relative;
                right: 40px;
                width: 50px;
                list-style-type: none;
                text-decoration: none;
                color: black;
            }

            .clothing section {
                display: none;
            }

        .logout {
            display: inline;
            position: relative;
            left: 860px;
            bottom: 65px;
        }

            .logout a {
                letter-spacing: .15em;
                position: relative;
                right: 40px;
                width: 50px;
                list-style-type: none;
                text-decoration: none;
                color: black;
            }

        .first {
            margin-bottom: 100px;
        }

        li {
            display: block;
            transition-duration: 0.5s;
        }

            li:hover {
                cursor: pointer;
            }

        ul li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            margin-top: 1rem;
            left: 0;
            display: none;
        }

            ul li:focus-within > ul,
            ul li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
            }

            ul li ul li {
                clear: both;
                width: 100%;
            }

        .dropdown {
            text-align: center;
            width: 100%;
            padding-left: 0px;
            z-index: 10;
        }

            .dropdown li li {
                position: relative;
                left: 60px;
                bottom: 30px
            }

            .dropdown li a:hover {
                border-bottom: 0px;
                color: #fff;
            }
            /*.dropdown li:first-child a {
            border-left: 10px solid #3498db;
        }
        .dropdown li:nth-child(2) a {
            border-left: 10px solid #ffd071;
        }
        .dropdown li:nth-child(3) a {
            border-left: 10px solid #f0776c;
        }
        .dropdown li:last-child a {
            border-left: 10px solid #1abc9c;
        }*/
            .dropdown li a:after {
                content: "";
                height: 100%;
                left: 0;
                top: 0;
                width: 0px;
                position: absolute;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                z-index: -1;
            }

            .dropdown li a:hover:after {
                width: 100%;
            }

            .dropdown li:first-child a:after {
                background: #3498db;
            }

            .dropdown:nth-child(2) a:after {
                background: #ffd071;
            }

            .dropdown li:nth-child(3) a:after {
                background: #f0776c;
            }

            .dropdown li:nth-child(4) a:after {
                background: #3498db;
            }

            .dropdown li:nth-child(5) a:after {
                background: #ffd071;
            }

            .dropdown li:last-child a:after {
                background: #f0776c;
            }

    </style>
</head>
<body>
    <div class="container-fluid app-container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h2 class="Logo">AuroraFashion</h2>
                <div class="collapse navbar-collapse d-flex justify-content-end first" id="navbarNav">
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item active home">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            @if (!this.User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item active login">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>

                                <li class="nav-item active register">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Don't have an account? Regiser here!</a>
                                </li>
                            }
                            @if (this.User.IsInRole("Admin"))
                            {

                                <li class="nav-item active create">
                                    <a class="nav-link" asp-controller="Products" asp-action="Create">Create Product</a>
                                </li>

                                <li class="nav-item active allOrders">
                                    <a class="nav-link" asp-controller="Orders" asp-action="All">All Orders</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                        <li class="nav-item active clothing">
                            <a class="nav-link" href="#">Clothing</a>
                            <ul class="dropdown">
                                <li>
                                <li>
                                    <a href="#">Man</a>
                                    <ul>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Coat" asp-route-gendertypename="Man">Coats</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Puffer" asp-route-gendertypename="Man">Puffers</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jacket" asp-route-gendertypename="Man">Jackets</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jeans" asp-route-gendertypename="Man">Jeans</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="T-shirt" asp-route-gendertypename="Man">T-shirts</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Other" asp-route-gendertypename="Man">Other</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Woman</a>
                                    <ul>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Coat" asp-route-gendertypename="Woman">Coats</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Puffer" asp-route-gendertypename="Woman">Puffers</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jacket" asp-route-gendertypename="Woman">Jackets</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jeans" asp-route-gendertypename="Woman">Jeans</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="T-shirt" asp-route-gendertypename="Woman">T-shirts</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Other" asp-route-gendertypename="Woman">Other</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Kids</a>
                                    <ul>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Coat" asp-route-gendertypename="Kids">Coats</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Puffer" asp-route-gendertypename="Kids">Puffers</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jacket" asp-route-gendertypename="Kids">Jackets</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Jeans" asp-route-gendertypename="Kids">Jeans</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="T-shirt" asp-route-gendertypename="Kids">T-shirts</a></li>
                                        <li><a data-wipe="Wipe Hover Effect" asp-controller="Home" asp-action="Categorize" asp-route-categoryname="Other" asp-route-gendertypename="Kids">Other</a></li>
                                    </ul>
                                </li>
                            </ul>                                 
                        </li>

                                <li class="nav-item active logout">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                </li>

                            }

                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>