@page
@model LoginModel

<head>
    <style>
        h4 {
            position: relative;
            left: 400px;
            line-height: 1.2;
            letter-spacing: .15em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            width: 20px;
            display: inline;
        }

        .email {
            position: relative;
            left: 260px;
            top: 40px;
            width: 1000px;
        }

            .email label {
                position: relative;
                left: 140px;
                bottom: 40px;
                /* margin-top: 20px; */
                font-weight: 400;
                font-size: 17px;
                letter-spacing: .15em;
            }

            .email input {
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
                font-size: 1.4rem;
                line-height: 1.4;
                border: 0;
                border: 1px solid #CCC;
                border-radius: 0;
                max-width: 100%;
                width: 40%;
                font-family: CriqueGrotesk,Helvetica,Arial,sans-serif;
                font-weight: 400;
                outline: none;
                background: rgba(0,0,0,0);
                color: inherit;
                padding: 1rem 1.5rem;
                -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
                -webkit-appearance: none;
                position: relative;
                top: 20px;
            }

        .password label {
            position: relative;
            left: 400px;
            top: 80px;
            font-weight: 400;
            font-size: 17px;
            letter-spacing: .15em;
        }

        .password input {
            position: relative;
            left: 306px;
            top: 130px;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            font-size: 1.4rem;
            line-height: 1.4;
            border: 0;
            border: 1px solid #CCC;
            border-radius: 0;
            max-width: 100%;
            width: 400px;
            font-family: CriqueGrotesk,Helvetica,Arial,sans-serif;
            font-weight: 400;
            outline: none;
            background: rgba(0,0,0,0);
            color: inherit;
            padding: 1rem 1.5rem;
            -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-appearance: none;
        }

        .login2 {
            display: inline;
            position: relative;
            top: 200px;
            left: 400px;
            height: 4rem;
            line-height: 4rem;
        }

            .login2 button {
                position: relative;
                bottom: 40px;
                -moz-user-select: "none";
                -ms-user-select: "none";
                -webkit-user-select: "none";
                user-select: "none";
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: #000;
                color: #fff;
                display: inline-block;
                width: 220px;
                min-height: 3rem;
                /* max-width: 100%; */
                text-decoration: none;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: .15em;
                padding: 0 2rem;
                text-transform: uppercase;
                /* -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); */
                transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
                border: none;
                /* min-width: 21rem; */
                cursor: pointer;
            }

        .sms {
            position: relative;
            top: 20px;
            letter-spacing: 0.5px;
            font-weight: 600;
        }
    </style>
</head>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Login</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group email">
                    <label asp-for="Input.Email">Email Address</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger sms"></span>
                </div>
                <div class="form-group password">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group login2">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}