@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuroraFashion</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <!-- <h1>AuroraFashion</h1> -->
        <img src="/css/Pictures/logo.png" alt="Logo">
        <nav>
            <ul>
                <li>
                    <a href="#">Women</a>
                    <section class="subWomen">
                        <ul>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Coats and jackets</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </section>
                </li>

                <li>
                    <a href="#">Men</a>
                    <section class="subMen">
                        <ul>
                            <li><a href="#">T-shirts</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Sweetshirts</a></li>
                            <li><a href="#">Costumes</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Underwear</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </section>
                </li>

                <li>
                    <a href="#">Kids</a>
                    <section class="subKids">
                        <ul>
                            <li><a href="#">T-shirts</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Sweetshirts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Underwear</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </section>
                </li>

                <li><a href="#">Discounts</a></li>
            </ul>
        </nav>
    </header>
</body>
