@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuroraFashion</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" type="image/png" href="/css/Pictures/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        img {
            height: 500px;
            width: 480px;
            position: relative;
            bottom: 100px;
            left: 380px;
            z-index: -10;
        }
    </style>
</head>
<body>
        <img src="/css/Pictures/logo.png" alt="Logo" class="bg"/>
</body>